/* GENERAL STYLE THAT APPLIES TO ALL */

*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

/* STYLE OF THE BODY TO ORGANIZE/LAYOUT CONTENTS */

body{
    min-height: 100vh;
    display: grid;
    grid-template-columns: 2fr 3fr;
}

/* STYLING THE LEFT PANE OF OUR WEB APP */

.left{
    background-color: rgb(245, 245, 157);
    padding: 30px 20px;
    position: relative;
}

/* style the container of the left pane that holds everything in the left pane */
.left .container{
    position: sticky;
    top: 30px;
    left: 0px;
}

/* style the divisions inside our left pane container */
.divisions{
    padding: 30px 0px;
    border-bottom: 5px solid black;
}

/* style the specific divisions - title division */
.title.divisions{
    padding-top: 0%;
}

/* style the specific divisions - quantity division */
.quantity.divisions{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* style quantity division contents*/
.quantity.divisions input{
    border: none;
    background-color: transparent;
    border: 1px solid black;
    color: black;
    border-radius: 3px;
    padding: 10px 5px;
    width: 20%;
}

/* style the specific divisions - codes division */
.codes.divisions .wrapper{
    margin: 5px 0px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    justify-content: space-between;
    align-items: space-between;
}

.left .codes.divisions.hide, .status.hide, .instructions.hide{
    display: none;
}

/* style the codes division contents*/
.color-code:hover{
    cursor: pointer;
    transform: scale(1.05);
    transition: transform 200ms linear;
    font-weight: bolder;
}

/* style the buttons on the left pane */
.left .btn{
    border: none;
    background-color: transparent;
    border: 1px solid black;
    color: black;
    border-radius: 3px;
    padding: 10px 5px;
    font-size: 1.5rem;
}

.left .btn:hover{
    background-color: black;
    color: rgb(245, 245, 157);
    border: 1px solid rgb(245, 245, 157);
    cursor: pointer;
    transform: scale(1.05);
    transition: transform 200ms linear;
}

/* style the paragraph that shows that color code was copied */
.left .status, .left .instructions{
    background-color: #101010;
    color: rgb(245, 245, 157);
    padding: 10px 5px;
    margin: 10px 0px;
    text-align: center;
}

/* STYLING THE RIGHT PANE OF OUR WEB APP */

/* style the layout of right panel*/
.right{
    background-color: #101010;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 10px;
}

/* style each box inside the right panel*/
.right .color-box{
    min-height: 80px;
    min-width: 80px;
}

/* style the effects of the color boxes*/
.right .color-box:hover{
    cursor: pointer;
    transform: scale(1.2);
    box-shadow: 3px 3px 10px black, -3px -3px 10px black;
}


/* DEFINE MEDIA QUERIES TO MAKE THE WEB APP RESPONSIVE */
@media (max-width: 900px){
    .title.divisions{
        font-size: 14px;
    }

    .left .btn{
        font-size: 1rem;
    }

    .quantity.divisions{
        flex-direction: column;
        align-items: start;
        justify-content: start;
    }
    .quantity.divisions input{
        margin: 5px 0px;
        width: 100%;
    }
}

@media (max-width: 800px){
    body{
        display: grid;
        grid-template-columns: 3fr 4fr;
    }
}

@media (max-width: 600px){
    body{
        display: flex;
        flex-direction: column;
    }

    .left, .right{
        min-height: 50vh;
        width: 100%;
    }

    .left, .left .container {
        position: static;
    }
}

@media (max-width: 276px){
    .title.divisions{
        font-size: 10px;
    }
    .left .btn{
        font-size: 1rem;
    }
    .start-app button.btn{
        width: 100%;
        font-size: 12px;
    }
}

@media (max-width: 170px){
    .color-box{
        width: 100%;
        height: 100%;
    }
}